<div class="histoire-container">
    <h1>Notre Histoire</h1>
    <p>
      Bienvenue chez "Au petit village". Nous sommes une entreprise familiale spécialisée dans la confection de figurines faites main, inspirées de l'univers d'Astérix & Obélix.
    </p>
    <p>
      Fondée en 2020, notre entreprise a pour mission de faire revivre les aventures des célèbres Gaulois à travers des figurines uniques et artisanales. Chaque pièce est conçue avec amour et passion, en utilisant des matériaux de haute qualité pour garantir une finition exceptionnelle.
    </p>
    <p>
      Notre équipe de talentueux artisans met tout son savoir-faire et son cœur dans chaque création, afin de capturer l'essence et l'esprit des personnages emblématiques d'Astérix & Obélix.
    </p>
    <p>
      Rejoignez-nous dans cette aventure et découvrez notre collection de figurines qui raviront les fans de tous âges. Nous espérons que vous apprécierez autant que nous le plaisir de redonner vie à ces héros de bande dessinée.
    </p>
  </div>